*{
    margin: 10;
    padding: 4;
    box-sizing: border-box;
    /* background-image: url(https://wallpaperaccess.com/full/5095907.jpg);
    color: white;
    font-weight: bolder; */

}


body{

    background-color: aliceblue;
    background-image: url(https://wallpaperaccess.com/full/5095907.jpg);
    background-repeat: repeat;
    color: white;
    font-weight: bolder;
}

h1{
    display: grid;
    place-items: center;
font-style: italic;
font-size: 40px;
/* background-color: black; */
color: greenyellow;
}

.images{
    display: grid;
    place-items: center;
}

.index{
    display: grid;
    place-items: center;

}

/* #vegs-index{
   
}

.content{
   
} */

.index-title{
    /* background-color: black; */
    color: greenyellow;
}

.name-content{
    display: grid;
    place-items: center;
}

.show-content{
    display: grid;
    place-items: center;
}

.descript{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.bottoms{
    display: grid;
    place-items: center;  
}

.new-content{
    display: grid;
    place-items: center;  
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Edit-content{
    display: grid;
    place-items: center;  
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}